/* Подключение шрифта */
@font-face {
    font-family: 'Baloo';
    src: url('./assets/baloo-cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo', 'Arial', sans-serif;
    background-color: #1b2541;
    color: white;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    position: relative;
    font-size: 1.9vw;
    line-height: 1.9vw;
}

.yellow {
    color: #fbbf64;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Общие стили для блоков */
.item {
    position: absolute;
}

/* Заголовок */
.header {
    position: absolute;
    top: 5.4vw;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
    white-space: nowrap;
    font-size: 4.9vw;
    color: white;
    text-align: center;
}

.subtitle {
    font-size: 2.34vw;
}

.gong-kong-title {
    font-size: 2.34vw;
    letter-spacing: -0.17vw;
}
/* Гонконгская вафля */
.gong-kong {
    top: 12vw;
    left: 7.7vw;
}



.price {
    margin-top: 1vw;
    font-weight: bold;
}

/* Мороженое */
.icecream {
    top: 27vw;
    left: 7.7vw;
}

.icecream-title {
    text-decoration: underline;
    color: #fbbf64;
}

/* Топинги */
.toppings {
    top: 43vw;
    left: 7.7vw;
}

.toppings-title {
    text-decoration: underline;
}

/* Наполнители */
.fillings {
    top: 27vw;
    left: 26vw;
}

.fillings-title {
    text-decoration: underline;
}

/* Кофе и Какао */
.coffee {
    top: 11vw;
    left: 59.6vw;
}
/* Чай */
.tea {
    top: 28vw;
    left: 59.6vw;
}

/* Милкшейк */
.milkshake {
    top: 34vw;
    left: 59.6vw;
}

/* Мороженое отдельно */
.extra-ice {
    top: 43vw;
    left: 59.6vw;
}
